html,
body,
#root,
.App {
  height: 100%;
}
body {
  background: radial-gradient(100% 100% at 50% 0%, #3D2B52 0%, #2A2442 20.91%, #201F37 100%);
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 28px 32px;
}
.content {
  display: grid;
  justify-content: center;
  align-content: center;
}
.form-panel {
  width: 420px;
  border-radius: 20px;
  padding: 24px;
  background-color: #121127;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}
.link-logo {
  width: 64px;
  margin-bottom: 32px;
}
form {
  width: 100%;
  text-align: center;
}
label, input {
  display: block;
}

label {
  color: #fff;
  margin-bottom: 12px;
  text-align: left;
}

input {
  width: calc(100% - 24px);
  height: 48px;
  background-color: #201F37;
  border: 1px solid #383751;
  border-radius: 8px;
  margin-bottom: 32px;
  padding-left: 16px;
}

button {
  padding: 12px 24px;
  border: 0;
  border-radius: 50px;
  color: #fff;
  background: rgba(191, 139, 250, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}