@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  height: 100%;
}
body {
  background: radial-gradient(100% 100% at 50% 0%, #3D2B52 0%, #2A2442 20.91%, #201F37 100%);
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 28px 32px;
}
.content {
  display: grid;
  justify-content: center;
  align-content: center;
}
.form-panel {
  @apply flex flex-col items-center justify-center bg-gray-900 p-6 shadow-md shadow-xl;
  width: 420px;
  border-radius: 20px;
  margin-top: 60px;
}
.link-logo {
  width: 64px;
  margin-bottom: 32px;
}
form {
  width: 100%;
  text-align: center;
}
label, input {
  display: block;
}

label {
  @apply text-white font-bold mb-3 ml-0.5 text-left;
}

input {
  @apply w-full bg-gray-800 text-white px-4 py-3 mb-8 border rounded-lg border-gray-700 hover:border-gray-500 focus:outline-none;
}

button {
  @apply bg-purple-transparent hover:bg-purple-transparent2 text-white font-medium px-6 py-3 border-none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}